$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-rich-red: #ff0e41;
$col-rich-red-rgb: hex-to-rgb($col-rich-red);

$col-incision: #ff0024;
$col-incision-rgb: hex-to-rgb($col-incision);

$col-love-red: #ff4374;
$col-love-red-rgb: hex-to-rgb($col-love-red);

$col-caraquenian-crimson: #9e0016;
$col-caraquenian-crimson-rgb: hex-to-rgb($col-caraquenian-crimson);
